         {{!-- Navigation Bar --}}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ">
     <a class="navbar-brand" href="#">World of flavors</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      </ul>
      </nav>
      {{!-- Navigation Bar --}}
{{# if products }}
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong>{{ this.item.title }}</strong><br/>
                </div>
                <div class="col-xs-6 text-right">
                    Qty:{{ this.quantity }}</span>
                </div>
                <div class="col-xs-6 text-right">
                    Price:${{ this.price }} 
                </div>
                <div class="col-xs-6 text-right">
                    <a href="/remove/{{this.item.id}}" class="btn btn-default"></i> Remove</a>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="col-sm-12 text-right">
        <strong>Total:${{ totalPrice }}</br></strong>
    </div>
     <div class="col-sm-12 text-right">
        <a href="/checkout/" type="button" class="btn btn-success">Checkout</a>
    </div>
        </div>
    {{ else }}
    Your shopping cart is empty.
{{/if}}
